/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
body {
    font-family: Consolas, DejaVu Sans Mono, Menlo;
    background-image: url(c147bb6e7ccd2f87ab3a.jpeg);
    background-size: cover;
    margin: 0px;
}
header {
    margin: 30px;
    font-size: 3em;
    color: #ffffffd9;
}
span{
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay.hidden{
    display: none;
}
.overlayWindow{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 30px;
    border-radius: 1em;
}
button{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px 0px 15px 15px;
    border-radius: 0.5em;
}
#place{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
#currShip{
    width: 200px;
    display: flex;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
[rotated]{
    transform: rotate(90deg);
    max-height: 200px;
    margin-top: 90px;
}

@media (hover: hover){
    .placeSq:hover{
        background-color: rgba(255, 255, 255, 0.434);
    }
    .csq:hover{
        background: url(7da3946db51c1b217162.png);
        background-size:contain;
        background-color: rgba(255, 255, 255, 0.35);
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
}
#pageTop{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
#battleLog{
    margin: 30px;
    padding: 10px;
    width: 50%;
    height:5em;
    color: #ffffffd9;
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    overflow: auto
}
.logMsg{
    margin: 10px;
}
#pageBody{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    color: #ffffffd9;
}
.gb{
    margin: 0px 1em;
    padding: 10px;
    text-align: center;
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 1em;
}
.gameboard{
    display: grid;
    margin: 0px 20px 20px 0px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11,1fr);
    align-items: center;
}
.letterSq{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numSq{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodySq{
    border: solid;
    margin: -1px;
    min-width: 2em;
    min-height: 2em;
}

.bodySq.hit{
    background-color: rgba(255, 0, 0, 0.5);
}
.bodySq.miss{
    background-color: rgba(0, 0, 0, 0.65);
}
.shipPresent{
    background-color: #ffffff88;
}
#fleetSection{
    padding:30px;
    color: #ffffffd9;
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.fleetList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fleetStatus{
    margin: 10px 0px;
    height: 2.25em;
    width: 2.25em;
}
.fleetStatus.hit{
    background-image: url(a58d1e372f0728744eed.png);
    background-size: contain;
}
.shipRender{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aircraft-carrier{
    background-image: url(1c5916704ca2a8a2c0cb.png);
    background-position: -1px 5px;
}
.battleship{
    background-image: url(2302a33e4c2775a99309.png);
    background-position: -1px 12px;
}
.cruiser{
    background-image: url(7e68b907b072d6992ba2.png);
    background-size: 110%;
    background-position: -3px 14px;
}
.submarine{
    background-image: url(f5b55e266eb025d31ed7.png);
    background-size: 105%;
    background-position: 1px 16px;
}
.destroyer{
    background-image: url(0df9a768338f3cdba1e3.png);
    background-position: 0px 11px;
}
footer{
    color: #ffffffd9;
    padding: 10px;
    text-align: center;
    justify-items: center;
}
#github{
    padding: 0px;
    color: #ffffffd9;
    text-decoration: none;
}
