body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-image: url(./img/water.jpeg);
    background-size: cover;
}
header {
    margin: 30px;
    font-size: 5em;
    color: #ffffffd9;
}
span{
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}
#battleLog{
    color: #ffffffd9;
    padding: 10px;
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 1em;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#log{
    margin: 10px;
}

#pageBody{
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    color: #ffffffd9;
}
.gb{
    padding: 10px;
    text-align: center;
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 1em;
}
.gameboard{
    display: grid;
    margin: 0px 20px 20px 0px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11,1fr);
    align-items: center;
}
.letterSq{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numSq{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodySq{
    border: solid;
    margin: -1px;
    min-width: 2em;
    min-height: 2em;
}
.bodySq:hover{
    background-color: white;
}
.bodySq.hit{
    background-color: rgba(255, 0, 0, 0.5);
}
.bodySq.miss{
    background-color: rgba(0, 0, 0, 0.65);
}
.shipPresent{
    background-color: #ffffff88;
}

#fleet{
    margin: 30px;
    padding: 10px;
    color: #ffffffd9;
    /* text-align: center; */
    background-color: #00000057;
    border: 2px #ffffff70 outset;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
}
#fleetList{
    display: flex;
    align-items: center;
}
#aircraft{
    background-image: url("./img/aircraft-carrier.png");
    width: 200px;
    height: 60px;
}
#battleship{
    background-image: url("./img/battleship.png");
    width: 180px;
    height: 60px;
}
#cruiser{
    background-image: url("./img/cruiser.png");
    width: 150px;
    height: 60px;
}
#sub{
    background-image: url("./img/sub.png");
    width: 150px;
    height: 60px;
}
#destroyer{
    background-image: url("./img/destroyer.png");
    width: 100px;
    height: 60px;
}